// Colors
$first-color: #4e74f5;
$second-color: #f90043;
$third-color: #F2F2F2;

$first-font-color: #000000;
$second-font-color: #999999;
$third-font-color: #e6e6e6;
$fourthly-font-color: #ffffff;
$fifth-font-color: #4e74f5;
$fifth-font-color-dark: #2d4fbe;
$sixthly-font-color: #FB2424;

$bg-color: #ffffff;

// Font
$fontFamily: 'OpenSans';
$fontWeight: 400;
$fontSize: 16;

// Sizes
$phone: 480.98;
$tablet: 768.98;
$tabletLandscape: 1024.98;
$desktop: 1600.98;

