@import "../../styles/abstract/variables";

.input {
  height: 56px;
  margin-top: 16px;
  &:first-child{
    margin-top: 0;
  }
}
.button {
  width: 100%;
}
.button_ok {
  height: 64px;
  margin: 32px 0px 24px 0px;
  @media screen and (max-width: $tablet + px) {
    height: 56px;
  }
}
.button_promo {
  margin: 32px 0px 12px 0px;
  padding: 0;
  height: 24px;
}


.conditions {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  color: $first-font-color;
}
.offer {
  white-space: nowrap;
  color: $fifth-font-color;
}
